* {
    box-sizing: border-box;
}

.interior {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
}
.div1 {
    left: 0;
    top: 0;
}
.div2 {
    left: 120px;
    top: 0;
}
.div3 {
    left: 0;
    top: 120px;
}
.div4 {
    left: 120px;
    top: 120px;
}
.div5 {
    background-color: red;
    left: 60px;
    top: 60px;
    transform: rotate(45deg);
}